<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="pt-3">Admin</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="d-flex">
              <div class="align-self-center">
                <%= octicon 'organization', height: 50 %>
              </div>
              <div class="flex-grow-1 text-end">
                <h3>
                  <%= number_to_human User.fast_total %>
                </h3>
                <span>Users</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm  mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="d-flex">
              <div class="align-self-center">
                <%= octicon 'inbox', height: 50 %>
              </div>
              <div class="flex-grow-1 text-end">
                <h3>
                  <%= number_to_human Notification.fast_total %>
                </h3>
                <span>Notifications</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm  mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="d-flex">
              <div class="align-self-center">
                <%= octicon 'git-pull-request', height: 50 %>
              </div>
              <div class="flex-grow-1 text-end">
                <h3>
                  <%= number_to_human Subject.fast_total %>
                </h3>
                <span>Subjects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm  mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="d-flex">
              <div class="align-self-center">
                <%= octicon 'repo', height: 50 %>
              </div>
              <div class="flex-grow-1 text-end">
                <h3>
                  <%= number_to_human Repository.fast_total %>
                </h3>
                <span>Repositories</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm  mb-3">
        <div class="card-content">
          <div class="card-body">
            <div class="d-flex">
              <div class="align-self-center">
                <%= octicon 'search', height: 50 %>
              </div>
              <div class="flex-grow-1 text-end">
                <h3>
                  <%= number_to_human PinnedSearch.count %>
                </h3>
                <span>Pinned Searches</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if Octobox.include_comments? %>
      <div class="col-md-3">
        <div class="card shadow-sm  mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="d-flex">
                <div class="align-self-center">
                  <%= octicon 'comment-discussion', height: 50 %>
                </div>
                <div class="flex-grow-1 text-end">
                  <h3>
                    <%= number_to_human Comment.fast_total %>
                  </h3>
                  <span>Comments</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if Octobox.github_app? %>
      <div class="col-md-3">
        <div class="card shadow-sm  mb-3">
          <div class="card-content">
            <div class="card-body">
              <div class="d-flex">
                <div class="align-self-center">
                  <%= octicon 'briefcase', height: 50 %>
                </div>
                <div class="flex-grow-1 text-end">
                  <h3>
                    <%= number_to_human AppInstallation.count %>
                  </h3>
                  <span>Installations</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if Octobox.io? %>
        <div class="col-md-3">
          <div class="card shadow-sm  mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="align-self-center">
                    <%= octicon 'hubot', height: 50 %>
                  </div>
                  <div class="flex-grow-1 text-end">
                    <h3>
                      <%= number_to_human SubscriptionPurchase.active.count %>
                    </h3>
                    <span>Marketplace installs</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow-sm  mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="align-self-center">
                    <%= octicon 'gift', height: 50 %>
                  </div>
                  <div class="flex-grow-1 text-end">
                    <h3 title='<%= SubscriptionPurchase.active.free_trial.map{|sp| sp.app_installation.try(:account_login) }.join(', ') %>'>
                      <%= number_to_human SubscriptionPurchase.active.free_trial.count %>
                    </h3>
                    <span >Free Trials</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow-sm  mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="align-self-center">
                    <%= octicon 'jersey', height: 50, class: 'success' %>
                  </div>
                  <div class="flex-grow-1 text-end">
                    <h3 title='<%= SubscriptionPurchase.active.not_free_trial.paid.map{|sp| sp.app_installation.try(:account_login) }.join(', ') %>'>
                      <%= number_to_human SubscriptionPurchase.active.not_free_trial.paid.count %>
                    </h3>
                    <span>Paying Subscriptions</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card shadow-sm  mb-3">
            <div class="card-content">
              <div class="card-body">
                <div class="d-flex">
                  <div class="align-self-center">
                    <%= octicon 'package', height: 50 %>
                  </div>
                  <div class="flex-grow-1 text-end">
                    <h3 title='ARR like a Pirate'>
                      $<%= number_to_human SubscriptionPurchase.active.not_free_trial.paid.map{|sp| sp.subscription_plan.monthly_price_in_cents}.reduce(:+)/100 %>
                    </h3>
                    <span>MRR</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
