<% if any_active_filters? %>
  <span class="filter-options">
    <span class="btn-group">
      <a href="#" class="btn btn-sm btn-outline-dark filter-label" role="button" aria-disabled="true">Filter:</a>

      <% if params[:reason].present? %>
        <% params[:reason].split(',').compact.each do |reason| %>
          <%= reason_filter_option reason do %>
            <%= reason.underscore.humanize %>
          <% end %>
        <% end %>
      <% end %>

      <%= filter_option :unread do %>
        <%= (params[:unread] === 'true'? 'Unread' : 'Read') %>
      <% end %>

      <%= filter_option :repo do %>
        <%= params[:repo] %>
      <% end %>

      <%= filter_option :type do %>
        <%= params[:type].underscore.gsub('repository', '').humanize %>
      <% end %>

      <%= filter_option :owner do %>
        <%= params[:owner] %>
      <% end %>

      <%= filter_option :state do %>
        <%= params[:state].humanize %>
      <% end %>

      <%= filter_option :label do %>
        Label: <%= emojify(params[:label]) %>
      <% end %>

      <%= filter_option :q do %>
        Search: <%= params[:q] %>
      <% end %>

      <%= filter_option :bot do %>
        <%= (params[:bot] === 'true'? 'Bot' : 'Human') %>
      <% end %>

      <%= filter_option :unlabelled do %>
        <%= (params[:unlabelled] === 'true'? 'Unlabelled' : 'Labelled') %>
      <% end %>

      <%= filter_option :author do %>
        Author: <%= params[:author] %>
      <% end %>

      <%= filter_option :number do %>
        Number: <%= params[:number] %>
      <% end %>

      <%= filter_option :assigned do %>
        Assigned: <%= params[:assigned] %>
      <% end %>

      <%= filter_option :is_private do %>
        <%= (params[:is_private] === 'true'? 'Private' : 'Public') %>
      <% end %>
    </span>
  </span>
<% end %>
