<% if any_active_filters? %>
  <span class="filter-options">
    <span class="btn-group">
      <a href="#" class="btn btn-outline-dark filter-label" role="button" aria-disabled="true">Filter:</a>

      <%= filter_option :reason do %>
        <%= params[:reason].underscore.humanize %>
      <% end %>

      <%= filter_option :unread do %>
        <%= (params[:unread] === 'true'? 'Unread' : 'Read') %>
      <% end %>

      <%= filter_option :repo do %>
        <%= params[:repo] %>
      <% end %>

      <%= filter_option :type do %>
        <%= params[:type].underscore.humanize %>
      <% end %>

      <%= filter_option :owner do %>
        <%= params[:owner] %>
      <% end %>

      <%= filter_option :q do %>
        Search: <%= params[:q] %>
      <% end %>
    </span>
  </span>
<% end %>
