<tr id='notification-<%= notification.id %>' class='notification <%= notification.unread ? 'active' : '' %>'>
  <td class='notification-checkbox'>
    <%= check_box_tag(
        '',
        notification.id,
        false,
        title: (notification.archived ? 'Unarchive' : 'Archive'),
        class: (notification.archived ? 'unarchive' : 'archive')
      )
    %>
  </td>
  <td class='notification-star'>
    <%= octicon 'star', height: 18, class: "toggle-star #{notification.starred ? 'star-active' : 'star-inactive'}", data: { id: notification.id }%>
  </td>
  <td class='notification-icon <%= notification_icon_color(notification.state) %>'>
    <%= octicon notification_icon(notification.subject_type, notification.state), :height => 16 %>
  </td>
  <td class='notification-subject'>
    <%= link_to notification.subject_title, notification, class: 'link', onclick: "markRead(#{notification.id})" %>

    <% if notification.subject %>
      <% notification.subject.labels.each do |label| %>
        <%= link_to emojify(label.name), root_path(filtered_params(label: label.name)), class: "badge d-sm", style: "background-color: ##{label.color}; color: #{label.text_color}" %>
      <% end %>
    <% end %>
  </td>
  <% unless params[:repo].present? %>
  <td class='notification-repo'>
    <small>
      <%= link_to notification.repository_full_name, notification.repo_url, class: 'text-muted', target: '_blank' %>
    </small>
  </td>
  <% end %>
  <% if display_subject? %>
    <td class='notification-subject-author'>
      <% if notification.subject %>

        <% ([notification.subject.author] + notification.subject.comments.map(&:author)).uniq.last(5).each do |author| %>
          <% author = /\A(.*)\[bot\]\z/.match(author)[1] if /\A(.*)\[bot\]\z/.match(author) %>
          <%= link_to image_tag("#{Octobox.config.github_domain}/#{author}.png?s=20", width: 20), "#{Octobox.config.github_domain}/#{author}", class: 'author', target: '_blank' %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <td class='notification-reason'>
    <%= link_to notification.reason.humanize, root_path(filtered_params(reason: notification.reason)), class: "badge badge-#{reason_label(notification.reason)}" %>
  </td>
  <td class='notification-date'>
    <small class='text-muted'>
      <%= local_relative_time(notification.updated_at, type: 'time-or-date') %>
    </small>
  </td>
</tr>
