<tr id='notification-<%= notification.id %>' class='notification <%= notification.unread ? 'active' : '' %>'>
  <td class='notification-checkbox'>
    <%= check_box_tag(
        '',
        notification.id,
        false,
        title: (notification.archived ? 'Unarchive' : 'Archive'),
        class: (notification.archived ? 'unarchive' : 'archive')
      )
    %>
  </td>
  <td class='notification-star'>
    <%= octicon 'star', height: 18, class: "toggle-star #{notification.starred ? 'star-active' : 'star-inactive'}", data: { id: notification.id, toggle: 'tooltip' }, title: notification.starred ? 'Remove star' : 'Star' %>
  </td>

  <% if showing_search_results? %>
    <td class='notification-archived'>
      <% if notification.archived? %>
        <%= octicon 'archive', height: 16, data: { toggle: 'tooltip' }, title: 'Archived' %>
      <% end %>
    </td>
  <% end %>

  <td class='notification-icon <%= notification_icon_color(notification.state) if display_subject? %>'>
    <%= octicon notification_icon(notification.subject_type, notification.state), :height => 16, title: notification_icon_title(notification.subject_type, notification.state), data: {toggle: 'tooltip'} %>
  </td>
  <td class='notification-subject'>
    <%= link_to notification.subject_title, notification.web_url, target: '_blank', class: 'link', onclick: "markRead(#{notification.id})" %>

    <% if display_subject? %>
      <% if notification.subject %>
        <% notification.subject.labels.each do |label| %>
          <%= link_to emojify(label.name), root_path(filtered_params(label: label.name)), class: "badge d-sm", style: "background-color: ##{label.color}; color: #{label.text_color}" %>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <% unless params[:repo].present? %>
  <td class='notification-repo'>
    <small>
      <%= link_to notification.repository_full_name, notification.repo_url, class: 'text-muted', target: '_blank' %>
    </small>
  </td>
  <% end %>
  <% if display_subject? %>
    <td class='notification-subject-author'>
      <% if notification.subject %>
        <small>
          <%= link_to notification.subject.author, notification.subject.author_url, class: 'text-muted', target: '_blank', title: 'Author', data: {toggle: 'tooltip'} %>
        </small>
      <% end %>
    </td>
  <% end %>
  <td class='notification-reason'>
    <%= link_to notification.reason.humanize, root_path(filtered_params(reason: notification.reason)), class: "badge badge-#{reason_label(notification.reason)}" %>
  </td>
  <td class='notification-date'>
    <small class='text-muted'>
      <%= local_relative_time(notification.updated_at, type: 'time-or-date') %>
    </small>
  </td>
</tr>
