<tr id='notification-<%= notification.id %>' class='notification <%= notification.unread ? 'active' : '' %> <%= notification.display? ? '' : 'notification-disabled' %>'>
  <td class='notification-checkbox align-middle'>
    <div class="form-check">
      <%= check_box_tag(
          "notification_#{notification.id}",
          notification.id,
          false,
          title: (notification.archived ? 'Unarchive' : 'Archive'),
          class: 'form-check-input ' + (notification.archived ? 'unarchive' : 'archive'),
          autocomplete: "off"
        )
      %>
      <%= label_tag "notification_#{notification.id}", '', class: "form-check-label" %>
    </div>
  </td>
  <td class='notification-star align-middle'>
    <%= octicon notification.starred ? 'star-fill' : 'star', height: 18, class: "toggle-star #{notification.starred ? 'star-active' : 'star-inactive'}", data: { id: notification.id, 'bs-toggle': 'tooltip' }, title: notification.starred ? 'Remove star' : 'star' %>
  </td>

  <td class='notification-archived align-middle'>
    <% if notification.archived? %>
      <%= octicon 'archive', height: 16, data: { toggle: 'tooltip' }, title: 'Archived' %>
    <% end %>
  </td>

  <% if notification.display? %>
    <td class='notification-icon align-middle <%= notification_icon_color(notification) %>'>
      <% if Octobox.github_app? && notification.subjectable? %>
        <% if notification.repository.try(:github_app_installed?) && !notification.user.try(:github_app_authorized?) %>
          <a tabindex="0" class="" role="button" data-bs-toggle="popover" title="Login to the GitHub App" data-bs-content="<%= render 'notifications/login_prompt' %>">
            <%= octicon notification_icon(notification), :height => 16 %>
          </a>
        <% elsif !notification.repository.try(:github_app_installed?) %>
          <a tabindex="0" class="" role="button" data-bs-toggle="popover" title="Get more info for this <%= notification_icon_title(notification) %>" data-bs-content="<%= render 'notifications/app_prompt', notification: notification %>">
            <%= octicon notification_icon(notification), :height => 16 %>
          </a>
        <% elsif Octobox.io? && notification.upgrade_required? %>
          <a tabindex="0" class="" role="button" data-bs-toggle="popover" title="Subscribe Now" data-bs-content="<%= render 'notifications/private_repos' %>">
            <%= octicon notification_icon(notification), :height => 16 %>
          </a>
        <% else %>
          <%= octicon notification_icon(notification), :height => 16, title: notification_icon_title(notification), data: {'bs-toggle': 'tooltip'} %>
        <% end %>
      <% else %>
        <%= octicon notification_icon(notification), :height => 16, title: notification_icon_title(notification), data: {'bs-toggle': 'tooltip'} %>
      <% end %>
    </td>
    <td class='notification-subject'>
      <%= link_to notification_link(notification), target: (Octobox.config.open_in_same_tab ? nil : '_blank'), rel: "noopener", class: "link #{'thread-link' if notification.display_thread?}", onclick: "Octobox.markRead(#{notification.id})", data:{toggle:(notification.display_thread? ? 'showthread' : nil)}, title: notification.title do %>
          <%= subject_with_number(notification) %>
          <%= octicon('link-external', class:'text-primary') unless notification.display_thread? %>
      <% end %>

      <% if notification.display_subject? %>
        <% if notification.subject %>
          <% notification.subject.labels.each do |label| %>
            <%= link_to emojify(label.name), root_path(filtered_params(label: label.name)), class: "badge d-sm", style: "background-color: ##{label.color}; color: #{label.text_color}" %>
          <% end %>
          <%= notification_status(notification.subject.status) %>
        <% end %>
      <% end %>
    </td>

    <td class='notification-repo'>
      <% unless params[:repo].present? %>
        <small>
          <%= link_to notification.repository_full_name, root_path(filtered_params(repo: notification.repository_full_name)), class: 'text-muted' %>
        </small>
      <% end %>
    </td>

    <td class='notification-subject-author'>
      <% if notification.display_subject? %>
        <% if notification.subject && notification.subject.author %>
          <small>
            <%= link_to notification.subject.author, root_path(filtered_params(author: notification.subject.author)), class: 'text-muted', title: 'Author', data: {'bs-toggle': 'tooltip'} %>
          </small>
        <% end %>
      <% end %>
    </td>

    <td class='notification-reason'>
      <%= link_to notification.reason.humanize, root_path(filtered_params(reason: notification.reason)), class: "badge badge-#{reason_label(notification.reason)}" %>
    </td>
  <% else %>

    <td class='notification-icon align-middle'>
      <%= octicon('lock', height: 16) %>
    </td>
    <td class='notification-subject'>
      Private notification on <strong><%= notification.repository_full_name %></strong>,
      <%= link_to 'upgrade', pricing_path %> to unlock.
    </td>

    <td class='notification-repo'>
      <% unless params[:repo].present? %>
        <small>
          <%= link_to notification.repository_full_name, root_path(filtered_params(repo: notification.repository_full_name)), class: 'text-muted' %>
        </small>
      <% end %>
    </td>

    <td class='notification-subject-author'></td>
    <td class='notification-reason'></td>
  <% end %>

  <td class='notification-date'>
    <% if notification.display_subject? && notification.subject %>
      <span class='badge bg-light text-dark notification-comment-count me-2'>
        <%= octicon 'comment', height: 10%>
        <%= notification.subject.comment_count %>
      </span>
    <% end %>

    <small class='text-muted'>
      <%= local_relative_time(notification.updated_at, type: 'time-or-date') %>
    </small>

    <span class='buttons'>
      <% if notification.archived? %>
        <%= link_to(archive_selected_notifications_path(id: notification.id, value: false), method: :post, class: 'me-1', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'title': 'Unarchive' ) do %>
          <%= octicon('inbox', height: 15) %>
        <% end %>
      <% else %>
        <%= link_to(archive_selected_notifications_path(id: notification.id), method: :post, class: 'me-1', 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'title': 'Archive' ) do %>
          <%= octicon('archive', height: 15) %>
        <% end %>
      <% end %>
      <%= link_to(mute_selected_notifications_path(id: notification.id), method: :post,  'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'title': 'Mute', 'data-confirm': confirmation("Are you sure you want to mute?", notification)) do %>
        <%= octicon('mute', height: 15) %>
      <% end %>
      <% if notification.archived? %>
        <%= link_to(delete_selected_notifications_path(id: notification.id), class: 'ms-1', method: :post, 'data-bs-toggle': "tooltip", 'data-bs-placement': "bottom", 'title': 'Delete', 'data-confirm': confirmation("Are you sure you want to delete?", notification)) do %>
          <%= octicon('trash', height: 15) %>
        <% end %>
      <% end %>
    </span>
  </td>
</tr>
