<% if pagy.pages > 1 %>
  <% link = pagy_link_proc(pagy, 'class="page-link"') -%>
  <nav aria-label="pager"  class="pagy-bootstrap-nav pagination" role="navigation">
    <ul class="pagination">
      <% if pagy.prev -%>
        <li class="page-item prev"><%== link.call(pagy.prev, 'Previous', 'aria-label="previous"') %></li>
      <% end                         -%>
      <% pagy.series.each do |item| -%>
        <% if item.is_a?(Integer) -%>
          <li class="page-item"><%== link.call(item) %></li>
        <% elsif item.is_a?(String) -%>
          <li class="page-item active"><%== link.call(item) %></li>
        <% elsif item == :gap -%>
          <li class="page-item disabled gap"><a href="#" class="page-link"><%== pagy_t('pagy.nav.gap') %></a></li>
        <% end -%>
      <% end -%>
      <% if pagy.next -%>
        <li class="page-item next"><%== link.call(pagy.next, 'Next', 'aria-label="next"') %></li>
      <% end                         -%>
    </ul>
  </nav>
<% end %>
