
<%= PrimaryLinks.new(controller.view_context, unread_notifications: @unread_notifications).html %>

<% if @pinned_searches.any? || any_active_filters? %>
  <ul class="nav nav-pills flex-column nav-filters">
    <% @pinned_searches.each do |pinned_search| %>
      <li role="presentation" class="nav-item pinned_search">
        <%= link_to root_path(q: pinned_search.query), { :class=>"nav-link #{'active' if search_query_matches?(@search.to_query, pinned_search.query)}", title: pinned_search.query } do %>
          <%= octicon 'search', height: 16, class: 'sidebar-icon' %>
          <%= pinned_search.name %>
          <% if search_query_matches?(@search.to_query, pinned_search.query) %>
            <span class="badge badge-light"><%= @total %></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% if any_active_filters? && !search_pinned?(@search.to_query) %>
      <li  role="presentation" class="nav-item">
        <%= link_to settings_path(q: @search.to_query, anchor: 'pinned-searches'), class: 'nav-link new_pinned_search' do %>
          <%= octicon 'pin', height: 16, class: 'sidebar-icon' %>
          Pin this search
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<ul class="nav nav-pills flex-column nav-filters">
  <%= GeneralLinks.new(controller.view_context, action_name: 'unread', text: 'read', count: @unread_notifications[false], value: false ).html %>
  <%= GeneralLinks.new(controller.view_context, action_name: 'unread', text: 'unread', count: @unread_notifications[true], value: true).html %>
</ul>

<% if display_subject? %>
  <%= SecondaryLinks.new(controller.view_context, action_types: @states, action_name: :state).html if @states.keys.compact.any? %>

  <% if @unlabelled > 0 || @bot_notifications > 0 || @assigned > 0 %>
    <ul class="nav nav-pills flex-column nav-filters">
      <%= GeneralLinks.new(controller.view_context, action_name: 'assigned', text: 'Assigned to you', count: @assigned, query_param: current_user.github_login).html if @assigned > 0 %>

      <%= GeneralLinks.new(controller.view_context, action_name: 'bot', text: 'Bots', count: @bot_notifications).html if @bot_notifications > 0 %>

      <%= GeneralLinks.new(controller.view_context, action_name: 'unlabelled', text: 'Unlabelled', count: @unlabelled).html if @unlabelled > 0 %>
    </ul>
  <% end %>

  <%= SecondaryLinks.new(controller.view_context, action_types: @statuses, action_name: :status).html if @statuses.keys.compact.any? %>
<% end %>

<%= SecondaryLinks.new(controller.view_context, action_types: @types, action_name: :type).html if @types.any? %>
<%= SecondaryLinks.new(controller.view_context, action_types: @reasons, action_name: :reason).html if @reasons.any? %>

<% if @visiblity && @visiblity.any? %>
  <ul class="nav nav-pills flex-column nav-filters">
    <%= GeneralLinks.new(controller.view_context, action_name: 'is_private', text: 'Private', count: @visiblity[true], value: true).html if @visiblity[true] %>
    <%= GeneralLinks.new(controller.view_context, action_name: 'is_private', text: 'Public', count: @visiblity[false], value: false).html if @visiblity[false] %>
  </ul>
<% end %>

<ul class="nav nav-pills flex-column nav-filters">
  <% @unread_repositories.sort_by{|repo_name, count| repo_name.downcase }.group_by{|repo_name, count| repo_name.split('/')[0] }.each do |org, repos| %>
    <%= org_filter_link :owner, org do %>
      <%= image_tag "#{Octobox.config.github_domain}/#{org}.png?size=40", width: 20, class: 'img-rounded sidebar-avatar', alt: org %>
      <%= org %>
    <% end %>

    <% repos.each do |repo_name, count| %>
      <% repo_owner, repo_label = repo_name.split('/') %>

      <%= repo_filter_link :repo, repo_name, count do %>
        <% if @repositories && @repositories.find{|r| r.full_name == repo_name }.try(:private?) %>
          <%= octicon('lock', class: 'private-repo') %>
        <% else %>
          <%= octicon('repo') %>
        <% end %>
        <%= repo_label %>
      <% end %>
     </li>
    <% end %>
  <% end %>
</ul>
