<ul class="nav nav-pills nav-stacked nav-filters">
  <li role="presentation" class="<%= 'active' if !params[:archive].present? && !params[:starred].present? %>">
    <%= link_to root_path do %>
      <%= octicon 'inbox', height: 16, class: 'sidebar-icon text-primary' %>
      Inbox
    <% end %>
  </li>
  <li role="presentation" class="<%= 'active' if params[:archive].present? %>">
    <%= link_to root_path(archive: true) do %>
      <%= octicon 'check', height: 16, class: 'sidebar-icon text-success' %>
      Archive
    <% end %>
  </li>

  <li role="presentation" class="<%= 'active' if params[:starred].present? %>">
    <%= link_to root_path(starred: true) do %>
      <%= octicon 'star', height: 16, class: 'sidebar-icon star-active' %>
      Starred
    <% end %>
  </li>

  <%= menu_separator %>

  <% @statuses.each do |status, count| %>
    <li class="<%= 'active' if params[:status] == status.to_s %>">
      <%= link_to root_path(filtered_params(status: status)), class: 'filter' do %>
        <% if status %>
          <%= octicon 'mail', height: 16, class: 'sidebar-icon star-active' %>
          Unread
        <% else %>
          <%= octicon 'mail-read', height: 16, class: 'sidebar-icon star-active' %>
          Read
        <% end %>
        <span class="label label-muted"><%= count %></span>
      <% end %>
    </li>
  <% end %>
  <%= menu_separator unless @statuses.empty? %>

  <% @types.each do |type, count| %>
    <li class="<%= 'active' if params[:type] == type %>">
      <%= link_to root_path(filtered_params(type: type)), class: 'filter' do %>
        <% if notification_icon(type).nil? %>
            <span class='sidebar-icon'></span>
        <% else %>
            <%= octicon notification_icon(type), height: 16, class: 'sidebar-icon star-active' %>
        <% end %>
        <%= type.underscore.humanize %>
        <span class="label label-muted"><%= count %></span>
      <% end %>
    </li>
  <% end %>
  <%= menu_separator unless @types.empty? %>

  <% @reasons.each do |reason, count| %>
    <li class="<%= 'active' if params[:reason] == reason %>">
      <%= link_to root_path(filtered_params(reason: reason)), class: 'filter' do %>
        <span class='text-<%= reason_label(reason) %>'>
          <%= octicon 'primitive-dot', height: 24, class: 'sidebar-icon' %>
        </span>
        <%= reason.underscore.humanize %>
        <span class="label label-muted"><%= count %></span>
      <% end %>
    </li>
  <% end %>
  <%= menu_separator unless @reasons.empty? %>

  <% current_owner = ''
     @unread_repositories.sort.each do |repo_name, count| %>
     <% repo_owner, repo_label = repo_name.split('/') %>
     <% if current_owner != repo_owner %>
       <li class="<%= 'active' if params[:owner] == repo_owner %>">
         <%= link_to root_path(filtered_params(owner: repo_owner).except(:repo)), class: 'filter' do %>
           <%= image_tag "https://github.com/#{repo_owner}.png?size=40", width: 20, class: 'img-rounded sidebar-avatar' %>
           <%= repo_owner %>
         <% end %>
       </li>
       <% current_owner = repo_owner %>
     <% end %>

     <li class="<%= 'active' if params[:repo] == repo_name || params[:owner] == repo_owner %>">
        <%= link_to root_path(filtered_params(repo: repo_name).except(:owner)), class: 'filter repo-label' do %>
          <%= repo_label %>
          <span class="label label-muted"><%= count %></span>
      <% end %>
    </li>
  <% end %>
</ul>
