<div class='d-flex card-header sticky-top justify-content-between'>
  <div>
    <button class="btn btn-sm btn-outline-dark toggle-star <%=@notification.starred ? 'star-active' : 'star-inactive' %>" data-id= <%=@notification.id%> title=<%= @notification.starred ? 'Remove star' : 'Star'%> data-toggle='tooltip'>
      <%= octicon 'star', height: 18%>
    </button>
    <%= archive_button unless archive_selected? %>
    <%= unarchive_button unless inbox_selected? %>
    <%= mute_button %>
    <%= delete_button %>
  </div>
  <div>
    <% if @previous %>
      <%= link_to octicon('chevron-left'), notification_path(filtered_params(id: @previous)), class: "btn btn-sm previous btn-outline-dark", data:{toggle:'tooltip', placement:'auto'}, title:'Previous notification' %>
    <% else %>
      <%= link_to octicon('chevron-left'), '#', class: "btn btn-sm previous btn-outline-secondary" %>
    <% end %>
    <% if @next %>
      <%= link_to octicon('chevron-right'), notification_path(filtered_params(id: @next)), class: "btn btn-sm next btn-outline-dark", data:{toggle:'tooltip', placement:'auto'}, title:'Next notification' %>
    <% else %>
      <%= link_to octicon('chevron-right'), '#', class: "btn btn-sm next btn-outline-secondary" %>
    <% end %>
    <button class='btn btn-sm closethread btn-outline-dark d-xxxl-none' data-toggle='tooltip' title='Close discussion'>
      <%= octicon('x') %>
    </button>
  </div>
</div>

<div id='notification-thread' class="p-3 mb-5" data-id='<%= @notification.id %>'>


  <h2 class='text-capitalize'>
    <%= @notification.subject_title %>
    <span class='text-muted font-weight-light'> #<%= @notification.subject_number %> </span>
  </h2>

  <%= link_to @notification.web_url, target: :blank, class: "btn btn-sm #{notification_button_color(@notification.state)} mr-2" do %>
    <%= octicon notification_icon(@notification), :height => 16, title: notification_icon_title(@notification.subject_type, @notification.state), data: {toggle: 'tooltip'} %>
    <%= notification_button_title(@notification.subject_type, @notification.state) %>
  <% end %>

  <% if @notification.subject %>
    <%= notification_status(@notification.subject.status) %>
    <%= link_to @notification.subject.author, root_path(filtered_params(author: @notification.subject.author)), class: 'text-muted', target: '_blank' %> opened this <%= @notification.subject_type.downcase %>
  <% end %>

  on <%= link_to @notification.repository_full_name, @notification.repo_url, class: 'text-muted', target: '_blank' %>

  <%= time_ago_in_words(@notification.subject ? @notification.subject.created_at : @notification.created_at) %> ago

  <div class='d-flex justify-content-between mt-2'>
    <div class='labels'>
      <%= link_to @notification.reason.humanize, root_path(filtered_params(reason: @notification.reason)), class: "badge badge-#{reason_label(@notification.reason)}" %>
      <% if @notification.subject %>
        <% @notification.subject.labels.each do |label| %>
          <%= link_to emojify(label.name), root_path(filtered_params(label: label.name)), class: "badge", style: "background-color: ##{label.color}; color: #{label.text_color}" %>
        <% end %>
      <% end %>
    </div>
    <% if @notification.subject %>
      <div>
        <%= link_to pluralize(@notification.subject.comment_count,'comment'), expand_comments_notification_url,  class: 'text-muted'%>
      </div>
    <% end %>
  </div>
  <% if @notification.subject %>
    <div class='discussion-thread'>
      <% if @notification.subject.body %>
        <div class="card-comment card mt-3">
          <div class="card-header media d-flex align-items-center">

            <%= image_tag(avatar_url(@notification.subject.author), width: 20, class: 'mr-3 align-self-center') %>

            <div class='media-body text-muted'>

              <b><%= link_to @notification.subject.author, Octobox.config.github_domain+'/'+@notification.subject.author_url_path, class: 'text-muted'%></b> commented <span class='text-muted'><%= time_ago_in_words(@notification.subject.created_at) %></span> ago
            </div>
          </div>
          <div class="card-body">
            <article class="markdown-body">
              <% if @notification.subject.body.present? %>
                <%== parse_markdown(@notification.subject.body) %>
              <% else %>
                <p>
                  <i>No description given.</i>
                </p>
              <% end %>
            </article>
          </div>
        </div>
      <% end %>

      <% if @notification.subject.commentable? %>
        <% if @comments_left_to_load > 0 %>
          <div id='more-comments'>
            <%= link_to expand_comments_notification_url, class: 'btn btn-secondary mt-3 expand_comments' do %>
              <%= octicon('comment', height: 16, class: 'ml-1') %>
              View <%= @comments_left_to_load %> more comments
            <% end %>
          </div>
        <% end %>

        <%= render partial: 'comments', locals: {comments: @comments} %>
      <% end %>
    </div>

    <% if @notification.subject.commentable? %>
      <%= link_to @notification.subject.html_url+'#new_comment_field', target: :blank, class: 'btn btn-success mt-2 float-right' do %>
        Reply on GitHub
        <%= octicon('link-external', height: 18, class: 'ml-1') %>
      <% end %>
    <% end %>
  <% end %>
</div>
