<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
      <%= render "sidebar" %>
    </div>
    <div class="col-12 col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if params[:per_page].present? %>
                <%= params[:per_page] %>
              <% else %>
                20
              <% end %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <% %w(20 40 60 80 100).map do |pagination_interval| %>
                <li><%= link_to pagination_interval, root_path(filtered_params(per_page: pagination_interval.to_i)) %></li>
              <% end %>
            </ul>
          </div>
          <button type="button" class="hidden-md hidden-lg btn btn-default" data-toggle="offcanvas">
            <%= octicon 'three-bars', :height => 16 %>
          </button>

          <%= link_to sync_notifications_path, class: 'btn btn-default sync', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-turbolinks' => false, 'data-animation' => 'false', 'data-position' => 'bottom', 'title' => 'Refresh list', method: :post do %>
            <%= octicon 'sync', :height => 16 %>
          <% end %>
          <% if @notifications.any? && !params[:archive].present? %>
            <%= link_to(
                  (no_url_filter_parameters_present ? 'Archive all' : 'Archive this list'),
                  archive_notifications_path(
                    owner:   params[:owner],
                    repo:    params[:repo],
                    reason:  params[:reason],
                    type:    params[:type],
                    status:  params[:status],
                    starred: params[:starred]
                  ),
                  class: 'btn btn-default',
                  method: :post
                )
            %>
            <% end %>
            <%= archive_selected_button("btn btn-default") %>
            <%= render 'filter-list' %>
        </div>

        <% if @notifications.any? %>
          <table class='table table-hover table-notifications'>
            <%= render partial: 'notification', collection: @notifications %>
          </table>
        <% elsif no_url_filter_parameters_present %>
          <div class="blankslate blankslate-spacious blankslate-clean-background">
            <%= octicon 'mail-read', height: 32, class: 'blankslate-icon' %>
            <%= octicon 'thumbsup', height: 32, class: 'blankslate-icon' %>
            <h3>You're in the clear!</h3>
            <p>There are no notifications that need your attention.</p>
          </div>
        <% else %>
          <div class="blankslate blankslate-spacious blankslate-clean-background">
            <%= octicon 'mail-read', height: 32, class: 'blankslate-icon' %>
            <%= octicon 'thumbsup', height: 32, class: 'blankslate-icon' %>
            <h3>Nothing to see here.</h3>
            <p>You can always try <%= link_to 'refreshing', root_path %>.</p>
          </div>
        <% end %>
      </div>

      <div class="text-center visible-xs-block">
        <%= paginate @notifications, left: 1, right: 1, window: 0 %>
      </div>

      <div class="text-center visible-sm-block visible-md-block visible-lg-block visible-xl-block">
        <%= paginate @notifications %>
      </div>
    </div>
  </div>
</div>

<%= render 'help-box' %>
