<% if current_user.syncing? %>
  <span class="js-is_syncing"><!-- This causes the sync icon to spin --></span>
<% end %>
<span class='js-unread-count' data-count="<%= @unread_count %>"></span>

<div class="flex-content">
  <div class="flex-sidebar">
    <%= render "sidebar" %>
  </div>
  <div class="flex-main">
    <%= render "list" %>
  </div>
  <% if display_thread? %>
    <div id='thread' class='flex-thread d-none d-xxxl-block'>
      <div class="nothing-here text-center align-self-center">
        <%= octicon 'comment-discussion', height: 32, class: 'blankslate-icon' %>
        <h3>Nothing to see here.</h3>
        <p>Select a notification to see the contents of its thread here.</p>
        <% unless current_user.notifications.any? %>
          <p><i>Expecting threads?? Make sure <a href="<%= Octobox.config.include_comments %>/settings/notifications">comments</a> are enabled on your installation.</i></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'help-box' %>
