<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#octobox-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <%= image_tag current_user.github_avatar_url + "?size=64", width: 32, class: 'img-rounded navbar-avatar' %>
      </button>
      <a class="navbar-brand" href="/">
        <%= octicon 'octoface', height: 22 %> Octobox
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="octobox-menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.github_avatar_url + "?size=40", width: 20, class: 'img-rounded navbar-avatar' %>
            <%= current_user.github_login %> <span class="caret hidden-xs"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'GitHub Dashboard', "https://github.com/", target: "_blank" %></li>
            <li><%= link_to 'Octobox Support', "https://github.com/andrew/octobox/issues", target: "_blank" %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
      <%= render "sidebar" %>
    </div>
    <div class="col-12 col-md-10">
      <p>
        <button type="button" class="hidden-md hidden-lg btn btn-default" data-toggle="offcanvas">
          <%= octicon 'list-unordered', :height => 16 %>
        </button>

        <%= link_to sync_notifications_path, class: 'btn btn-default sync', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-turbolinks' => false, 'data-animation' => 'false', 'data-position' => 'bottom', 'title' => 'Refresh list', method: :post do %>
          <%= octicon 'sync', :height => 16 %>
        <% end %>

        <% if @notifications.any? %>
          <%= link_to 'Archive all', archive_notifications_path, class: 'btn btn-default', method: :post %>
        <% end %>
      </p>

      <% if @notifications.any? %>
        <div class="table-notifications">
          <table class='table table-hover'>
            <%= render @notifications %>
          </table>
          <div class="pagination">
            <%= paginate @notifications %>
          </div>
        </div>
      <% elsif params[:archive].nil? && params[:repo].nil? && params[:type].nil? && params[:status].nil? %>
        <p class='text-center'>You're in the clear!</p>
      <% else %>
        <p class='text-center'>
          <%= link_to 'Nothing to see here', root_path %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<%= render 'help-box' %>
