<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#octobox-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <%= image_tag current_user.github_avatar_url + "?size=64", width: 32, class: 'img-rounded navbar-avatar' %>
      </button>
      <a class="navbar-brand" href="/">
        <%= octicon 'octoface', height: 22 %> Octobox
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="octobox-menu">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.github_avatar_url + "?size=40", width: 20, class: 'img-rounded navbar-avatar' %>
            <%= current_user.github_login %> <span class="caret hidden-xs"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "https://github.com/", target: "_blank" do %>
                <%= octicon 'mark-github', height: 16, class: 'text-muted' %>
                GitHub Dashboard
              <% end %>
            </li>
            <li>
              <%= link_to "https://github.com/andrew/octobox/issues", target: "_blank" do %>
                <%= octicon 'octoface', height: 16, class: 'text-muted' %>
                Octobox Support
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-6 col-md-2 sidebar-offcanvas" id="sidebar">
      <%= render "sidebar" %>
    </div>
    <div class="col-12 col-md-10">
      <p>
        <button type="button" class="hidden-md hidden-lg btn btn-default" data-toggle="offcanvas">
          <%= octicon 'list-unordered', :height => 16 %>
        </button>

        <%= link_to sync_notifications_path, class: 'btn btn-default sync', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-turbolinks' => false, 'data-animation' => 'false', 'data-position' => 'bottom', 'title' => 'Refresh list', method: :post do %>
          <%= octicon 'sync', :height => 16 %>
        <% end %>

        <% if @notifications.any? %>
          <%= link_to 'Archive all', archive_notifications_path, class: 'btn btn-default', method: :post %>
        <% end %>

        <% if !params[:starred].nil? || !params[:reason].nil? || !params[:status].nil? || !params[:repo].nil? || !params[:type].nil? || !params[:archive].nil? %>
           <span class="filter-options">
               <span class="btn-group">
                 <a href="#" class="btn btn-default filter-label" role="button" aria-disabled="true">Filter:</a>

           <% if !params[:reason].nil? %>
             <%= link_to root_path(status: params[:status],repo: params[:repo],type: params[:type],archive: params[:archive], starred:params[:starred]), class: 'btn btn-default' do %>
               <%= octicon 'x', :height => 16 %>
               <%= params[:reason].underscore.humanize %>
             <% end %>
           <% end %>

           <% if !params[:status].nil? %>
             <%= link_to root_path(reason: params[:reason],repo: params[:repo],type: params[:type],archive: params[:archive], starred:params[:starred]), class: 'btn btn-default' do %>
               <%= octicon 'x', :height => 16 %>
               <%= (params[:status] === 'true'? 'Unread' : 'Read') %>
             <% end %>
           <% end %>

           <% if !params[:repo].nil? %>
             <%= link_to root_path(reason: params[:reason],status: params[:status],type: params[:type],archive: params[:archive], starred:params[:starred]), class: 'btn btn-default' do %>
               <%= octicon 'x', :height => 16 %>
               <%= params[:repo].split('/').last %>
             <% end %>
           <% end %>

           <% if !params[:type].nil? %>
             <%= link_to root_path(reason: params[:reason],status: params[:status],repo: params[:repo],archive: params[:archive], starred:params[:starred]), class: 'btn btn-default' do %>
               <%= octicon 'x', :height => 16 %>
               <%= params[:type].underscore.humanize %>
             <% end %>
           <% end %>

           <% if !params[:archive].nil? %>
             <%= link_to root_path(reason: params[:reason],status: params[:status],repo: params[:repo],type: params[:type], starred:params[:starred]), class: 'btn btn-default' do %>
               <%= octicon 'x', :height => 16 %>
               <%= (params[:archive] === 'true'? 'Archive' : 'Inbox') %>
             <% end %>
           <% end %>

           <% if !params[:starred].nil? %>
             <%= link_to root_path(reason: params[:reason],status: params[:status],repo: params[:repo],type: params[:type]), class: 'btn btn-default' do %>
               <%= octicon 'x', :height => 16 %>
               <%= (params[:starred]==='true'? 'Starred' : 'Unstarred') %>
             <% end %>
           <% end %>
       </span>
          </span>
        <% end %>
      </p>

      <% if @notifications.any? %>
        <div class="table-notifications">
          <table class='table table-hover'>
            <%= render @notifications %>
          </table>
          <div class="pagination">
            <%= paginate @notifications %>
          </div>
        </div>
      <% elsif params[:archive].nil? && params[:repo].nil? && params[:type].nil? && params[:status].nil? %>
        <div class="blankslate blankslate-spacious blankslate-clean-background">
          <%= octicon 'mail-read', height: 32, class: 'blankslate-icon' %>
          <%= octicon 'thumbsup', height: 32, class: 'blankslate-icon' %>
          <h3>You're in the clear!</h3>
          <p>There are no notifications that need your attention.</p>
        </div>
      <% else %>
        <div class="blankslate blankslate-spacious blankslate-clean-background">
          <%= octicon 'mail-read', height: 32, class: 'blankslate-icon' %>
          <%= octicon 'thumbsup', height: 32, class: 'blankslate-icon' %>
          <h3>Nothing to see here.</h3>
          <p>You can always try <%= link_to 'refreshing', root_path %>.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'help-box' %>
