<div class="flex-content">
  <div class="flex-sidebar">
    <div class="flex-container">
      <%= render "sidebar" %>
    </div>
  </div>
  <div class="flex-main">
    <div class="flex-container">
      <div class="panel panel-default panel-notifications">
        <div class="panel-heading">
          <% if @notifications.any? %>
            <div class="btn-group pull-right hidden-xs" data-toggle="tooltip" data-placement="left" title="Notifications per page">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <% if params[:per_page].present? %>
                  <%= params[:per_page] %>
                <% else %>
                  20
                <% end %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <% %w(20 40 60 80 100).map do |pagination_interval| %>
                  <li><%= link_to pagination_interval, root_path(filtered_params(per_page: pagination_interval.to_i)) %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="btn btn-link help pull-right hidden-xs" data-toggle="modal" data-target="#help-box">
            <%= octicon 'keyboard', :height => 16 %>
          </div>
          <button type="button" class="hidden-md hidden-lg btn btn-default" data-toggle="offcanvas">
            <%= octicon 'three-bars', :height => 16 %>
          </button>
          <% if @notifications.any? %>
          <label class="btn btn-default select-all" for="select_all">
            <input id="select_all" type="checkbox" class='js-select_all'>
          </label>
          <% end %>
          <%= link_to sync_notifications_path(filters), class: 'btn btn-default sync', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'data-turbolinks' => false, 'data-animation' => 'false', 'data-position' => 'bottom', 'title' => 'Refresh list', method: :post do %>
            <%= octicon 'sync', :height => 16 %>
          <% end %>
          <%= archive_selected_button("btn btn-default hidden") %>
          <%= mute_selected_button("btn btn-default hidden") %>
          <%= mark_read_selected_button("btn btn-default hidden") %>
          <%= render 'filter-list' %>
        </div>

        <% if @notifications.any? %>
          <table class='table table-hover table-notifications js-table-notifications' data-refresh-interval=<%= current_user.effective_refresh_interval %>>
            <%= render partial: 'notification', collection: @notifications %>
          </table>
        <% elsif no_url_filter_parameters_present %>
          <div class="blankslate blankslate-spacious blankslate-clean-background">
            <%= octicon 'mail-read', height: 32, class: 'blankslate-icon' %>
            <%= octicon 'thumbsup', height: 32, class: 'blankslate-icon' %>
            <h3>You're in the clear!</h3>
            <p>There are no notifications that need your attention.</p>
            <% if current_user.last_synced_at %>
              <p class='text-muted'>
                <small>Last sync: <%= time_ago_in_words current_user.last_synced_at %> ago</small>
              </p>
            <% end %>
          </div>
        <% else %>
          <div class="blankslate blankslate-spacious blankslate-clean-background">
            <%= octicon 'mail-read', height: 32, class: 'blankslate-icon' %>
            <%= octicon 'thumbsup', height: 32, class: 'blankslate-icon' %>
            <h3>Nothing to see here.</h3>
            <p>You can always try <%= link_to 'refreshing', root_path %>.</p>
            <% if current_user.last_synced_at %>
              <p class='text-muted'>
                <small>Last sync: <%= time_ago_in_words current_user.last_synced_at %> ago</small>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="text-center visible-xs-block">
        <%= paginate @notifications, left: 1, right: 1, window: 0 %>
      </div>

      <div class="text-center visible-sm-block visible-md-block visible-lg-block visible-xl-block">
        <%= paginate @notifications %>
      </div>
    </div>
  </div>
</div>

<%= render 'help-box' %>
