<div class="flex-content">
  <div class="flex-sidebar">
    <div class="flex-container">
      <%= render "sidebar" %>
    </div>
  </div>
  <div class="flex-main">
    <div class="flex-container">

      <div class="d-flex d-flex-row p-1 justify-content-between">
      
        <div>
          <%= link_to octicon('arrow-left', height: 18), root_path(filtered_params({})), class: 'btn btn-sm btn-outline-dark' %>

          <%= archive_selected_button() %>
          <%= mute_selected_button() %>
          <%= mark_read_selected_button() %>

        </div>
        
        <div>
          <div class="btn btn-sm btn-link help d-none d-md-inline-block" data-toggle="modal" data-target="#help-box">
            <%= octicon 'keyboard', :height => 16 %>
          </div>

          <%= link_to octicon('chevron-left'), @previous, class: "btn btn-sm #{@previous ? 'btn-outline-dark': 'btn-outline-light text-muted'}" %>

          <%= link_to octicon('chevron-right'), @next, class: "btn btn-sm #{@next ? 'btn-outline-dark': 'btn-outline-light text-muted'}" %>
          
        </div>
      </div>
      
      <div id='notification-thread' class="p-3" data-id='<%= @notification.id %>'>

        <h1><%= @notification.subject_title %></h1>

        <div class='d-block'>

          <button class='btn btn-sm <%= notification_button_color(@notification.state) if display_subject? %>'>
            <%= octicon notification_icon(@notification.subject_type, @notification.state), :height => 16, title: notification_icon_title(@notification.subject_type, @notification.state), data: {toggle: 'tooltip'} %>
            <%= notification_button_title(@notification.subject_type, @notification.state) %>
          </button>

          <% if display_subject? %>
              <% if @notification.subject %>
                  <%= link_to @notification.subject.author, @notification.subject.author_url, class: 'text-muted', target: '_blank' %> opened this <%= @notification.subject_type.downcase %>
              <% end %>
          <% end %>

          on <%= link_to @notification.repository_full_name, @notification.repo_url, class: 'text-muted', target: '_blank' %>

          <%= time_ago_in_words(@notification.updated_at) %> ago.</span>

          <%= link_to octicon('link-external'), @notification.web_url, target: '_blank', class: 'link' %>

          <div class="pt-2">
            <%= link_to @notification.reason.humanize, root_path(filtered_params(reason: @notification.reason)), class: "badge badge-#{reason_label(@notification.reason)}" %>
            <% if @notification.subject %>
              <% @notification.subject.labels.each do |label| %>
                <%= link_to emojify(label.name), root_path(filtered_params(label: label.name)), class: "badge", style: "background-color: ##{label.color}; color: #{label.text_color}" %>
              <% end %>
            <% end %> 
          </div>
        </div>
      </div>

      <% if @notification.subject %>
        <div class="card-comment card mb-3">
          <div class="card-header">
            <%= image_tag("#{Octobox.config.github_domain}/#{@notification.subject.author}.png?s=30", width: 30) %>
            <%= @notification.subject.author %>
            <small>
              Commented <%= @notification.subject.created_at.to_s(:short) %>
            </small>
          </div>
          <div class="card-body">
            <article class="markdown-body">
              <%== parse_markdown(@notification.subject.body) %>
            </article>
          </div>
        </div>
        <% @notification.subject.comments.each do |comment| %>
          <div class="card-comment card mb-3">
            <div class="card-header">
              <%= image_tag("#{Octobox.config.github_domain}/#{comment.author}.png?s=30", width: 30) %>
              <%= comment.author %>
              <small>
                Commented <%= comment.created_at.to_s(:short) %>
              </small>
            </div>
            <div class="card-body">
              <article class="markdown-body">
                <%== parse_markdown(comment.body) %>
              </article>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'help-box' %>

