<% placeholder = "#{
current_user.personal_access_token.present? ? current_user.personal_access_token : ''
  }" %>

<div class="container">
  <h1>User Preferences</h1>

  <hr>

  <%= form_for current_user do |f| %>
    <%= flash_messages %>
    <div class="form-group">
      <%= f.label :personal_access_token %>
      <%= f.text_field :personal_access_token, value: nil, placeholder: placeholder, class: 'form-control' %>
    </div>

    <%= submit_tag 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', root_path, class: 'btn btn-default' %>
  <% end %>
</div>
