<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="pt-3">Settings</h1>
    </div>
    <div class="col">
      <% if @latest_git_sha %>
        <p class="settings-sha float-right" title="Latest Git commit SHA">
          Version:
          <%= link_to @latest_git_sha[0..6], Octobox.config.source_repo + "/commit/#{@latest_git_sha}", target: '_blank' %>

        </p>
      <% end %>
    </div>
  </div>
  <% if Octobox.refresh_interval_enabled? || Octobox.personal_access_tokens_enabled? %>
    <hr>

    <%= form_for current_user do |f| %>
      <% if Octobox.refresh_interval_enabled? %>
        <div class="form-group">
          <%= f.label :refresh_interval_minutes, 'Notification Refresh Interval' %>
          <%= f.number_field :refresh_interval_minutes, max: 1440, min: Octobox.config.minimum_refresh_interval, value: current_user.effective_refresh_interval.nil? ? '' : current_user.effective_refresh_interval / 60_000, class: 'form-control' %>
          <p>
            <em>
              Auto refresh every N minutes when you are viewing notifications. If blank, no auto refreshes will occur.
            </em>
          </p>
        </div>
      <% end %>

      <% if Octobox.personal_access_tokens_enabled? %>
        <div class="form-group">
          <%= f.label :personal_access_token, "Personal Access Token" %>
          <%= f.text_field :personal_access_token, value: nil, placeholder: current_user.masked_personal_access_token, class: 'form-control' %>
          <span class="help-block">Setting a personal access token will cause Octobox to authenticate with this token instead of the OAuth token that was generated when you logged in.  There is no need to set this unless you have a specific reason.
          </span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="clear_personal_access_token" id="clear_personal_access_token"/>
              Clear personal access token
            </label>
          </div>
        </div>

      <% end %>

      <%= submit_tag 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-light' %>
    <% end %>
  <% end %>

  <hr>

  <div class="card mb-3">
    <h5 class="card-header">
      Octobox API Access
    </h5>
    <div class="card-body">
      <p>This is your API Token for Octobox access. Keep it safe and do not commit it to version control.</p>

      <ul class="list-inline">
        <li class="list-inline-item">
          <button onclick="document.getElementById('api_token').classList.remove('d-none'); this.parentNode.classList.add('d-none')" class="btn btn-outline-dark">Show API Token</button>
        </li>
        <li class="list-inline-item">
          <%= form_tag current_user, method: :put do %>
            <%= hidden_field_tag 'user[regenerate_api_token]', '1' %>
            <%= submit_tag "Regenerate Token", class: 'btn btn-outline-dark' %>
          <% end %>
        </li>
      </ul>

      <div id="api_token" class="blankslate d-none">
        <code><%= current_user.api_token || 'None, please click the button to regenerate your token' %></code>
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">
      Manage Oauth Access
    </h5>
    <div class="card-body">
      <p>Octobox can only show notifications for Organisations that you've granted it access to via GitHub</p>
      <p>If you've been added to a new Organisation you may need to enable or request access for Octobox to sync notifications for those repositories.</p>
      <%= link_to "#{Octobox.config.github_domain}/settings/connections/applications/#{Rails.application.secrets.github_client_id}", class: 'btn btn-outline-dark' do %>
        <%= octicon 'tools' %>&nbsp;
        Manage Oauth Access on GitHub
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">
      Statistics
    </h5>
    <div class="card-body">
      <p>
        <%= pluralize @total, 'notification' %> synced since you started using Octobox <%= distance_of_time_in_words_to_now current_user.created_at %> ago.
      </p>
      <% if @most_active %>
        <p>
          <strong>Most active repositories</strong>
        </p>
        <ul>
          <% @most_active.each do |repository_full_name, count| %>
            <li>
              <%= link_to repository_full_name, "#{Octobox.config.github_domain}/#{repository_full_name}" %> - <%= pluralize count, 'notification' %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header bg-danger text-white">
      Danger zone
    </h5>
    <div class="card-body">
      <p>Deleting your Octobox account permanently removes all data associate with your user from Octobox's database.</p>
      <p>Once you have deleted your account, logging in again will create a new account associated with your GitHub user and load existing notifications.</p>
      <%= link_to current_user, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to do this?' } do %>
        <%= octicon 'trashcan', class: 'inverse' %>&nbsp;
        Delete my Octobox account
      <% end %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
