<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/public/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-icon-180x180.png">
</head>
<body>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center"><%= octobox_icon(80) %> Octobox</h1>
    <p class="text-center">Take back control of your GitHub notifications</p>
    <div class="text-center">
      <%= image_tag 'screenshot.png', class: 'screenshot' %>
      <p>
      <%= link_to login_path, class: 'btn btn-default btn-lg' do %>
        <%= octicon 'mark-github', height: 22 %>
        Sign in with GitHub
      <% end %>
      </p>
      <p>
        <a class="github-button" href="https://github.com/octobox/octobox" data-icon="octicon-star" data-style="mega" data-count-href="/octobox/octobox/stargazers" data-count-api="/repos/octobox/octobox#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star octobox/octobox on GitHub">Star</a>
        <a class="github-button" href="https://github.com/octobox/octobox/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/octobox/octobox/network" data-count-api="/repos/octobox/octobox#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork octobox/octobox on GitHub">Fork</a>
      </p>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
