<div class='container readable pt-5'>

	<h1 class="text-center"><%= octobox_round(80) %> Octobox</h1>

	<h3 class='pt-3 text-center'>One product, two ways to pay</h3>
  <p class='pt-3 text-large'>Octobox is <b>free for open source</b> projects. We have paid-for plans for access to private projects for you or your organisation which can be paid for in two ways:
	
  <div class='d-flex flex-column flex-lg-row pt-3 justify-content-center'>
		<%= render('opencollective')%>
		<%= render('github')%>
	</div>

  <p class='mt-2'>In order to take advantage of paid-access feature you will need to install the <a href='<%= Octobox.config.app_install_url %>' target="_blank">Octobox GitHub App</a> on each repository or organisation you'd like to enable. This may require additional authorisation. 
	
	<h2 id='why' class='text-center mb-5 pt-3'>What... Why?</h2>

	<h5>An experiment in open source sustainability</h5>

  <p>Like many open source projects, Octobox currently relies on volunteers and donations to cover the cost of maintaining the Octobox project. This is <a href='https://www.fordfoundation.org/about/library/reports-and-studies/roads-and-bridges-the-unseen-labor-behind-our-digital-infrastructure/'>not sustainable</a>.</p>

  <p>Octobox is primarily maintained by Andrew Nesbitt and Benjamin Nickolls. We believe that many of the issues around the sustainability of open source software <i>can</i> be solved by the community itself. We also believe in leading by example, testing our assumptions, and backing up our decisions with data.</p>

  <p>Octobox has a small community of <a href='https://github.com/orgs/octobox/people'>maintainers</a>, <a href='https://github.com/octobox/octobox/graphs/contributors'>contributors</a>, <a href='https://opencollective.com/octobox/#contributors'>supporters, and sponsors</a>. Our first priority is to begin building a sustainable income, for ourselves and our community. Our second is to demonstrate that our approach is repeatable and scalable, proving that we can solve this problem <i>together</i>. Our pricing model is our first experiment.</p>

  <h5 class='pt-3'>Do you prefer supporting a commercial provider, or the community itself?</h5>
  <p>Octobox.io operated by Octobox Ltd., a company registered in the UK by Andrew Nesbitt and Benjamin Nickolls. The company is primarily designed to offer limited liability to the operators of Octobox.io and to renumerate directors and staff as employees or contractors.</p>

  <p>The Octobox project will continue to collect donations via Open Collective and operate a transparent ledger of income and outgoings for the project — including, for the time being, the costs of hosting Octobox.io. When it is able to, the project will pay maintainers for their time, including time spent operating Octobox.io, which will be directed through Octobox Ltd.</p>

  <p>Octobox Ltd. will provide private repository access to those who donate an equivalent sum (or more) to the community as pay directly through alternate channels. In addition, the company will pledge at least 15% of its revenues for use by the community to further the open source project, forever.</p>

  <h5 class='pt-3'>Why does this matter?</h5>

  <p>Most open source projects struggle to navigate the legislative, legal, and social issues around sustaining their projects. By diving straight into the deep end and documenting our experiences, we hope to provide a blueprint for others to follow.</p>

  <p>By asking you to make the choice with how you pay, we will demonstrate whether donation-based, community-first sustainabiliy strategies work over more classical, commercial-lead approaches.</p>

  <p>Thanks for taking the time to read this. If anything is unclear or you have concerns about this please <a href='https://github.com/octobox/octobox/issues/new'>raise an issue</a> or <a href='mailto: hello@octobox.io'>get in touch</a>.</p>

  <%= render 'layouts/footer'%>
</div>
