<nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <% if current_user %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#octobox-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <%= image_tag current_user.github_avatar_url + "?size=64", width: 32, class: 'img-rounded navbar-avatar' %>
        </button>
        <button type="button" class="navbar-toggle navbar-search-toggle collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false">
          <span class="sr-only">Toggle search</span>
          <%= octicon 'search', height: 16, class: 'text-muted' %>
        </button>
      <% end %>
    </div> -->

    <a class="navbar-brand" href="/" title='Octobox'>
      <%= octobox_reverse_icon(28) %>
    </a>
    <div id='search' class='mr-auto'>
      <%= form_tag root_path, method: :get, class: 'form-inline', enforce_utf8: false do |f| %>
        <div class="input-group">
          <% filters.except(:q).select{|n,v| v.present? }.each do |name, value| %>
              <%= hidden_field_tag name, value %>
          <% end %>
          <%= text_field_tag 'q', params[:q], placeholder: 'Search...', class: 'form-control', size: 40, id: 'search-box' %>
        </div>
      <% end %>
    </div>

    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item nav-link">
        <a href="https://opencollective.com/octobox/" class='opencollective' target='_blank'><%= octicon 'gift', height: 16, data: {toggle: "tooltip", placement: "bottom"}, title: 'Support Octobox on OpenCollective' %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.github_avatar_url + "?size=40", width: 20, class: 'img-rounded navbar-avatar' %>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
          <%= link_to "#{Octobox.config.github_domain}", class: 'dropdown-item', target: "_blank" do %>
            <%= octicon 'mark-github', height: 16, class: 'text-muted' %>
            GitHub Dashboard
          <% end %>
          <%= link_to "https://github.com/octobox/octobox/issues", class: 'dropdown-item', target: "_blank" do %>
            <%= octicon 'question', height: 16, class: 'text-muted' %>
            Octobox Support
          <% end %>
          <% if current_user.admin? %>
            <%= link_to admin_sidekiq_web_path, class: 'dropdown-item' do %>
              <%= octicon 'graph', height: 16, class: 'text-muted' %>
              Sidekiq
            <% end %>
          <% end %>
          <%= link_to "settings", class: 'dropdown-item' do %>
            <%= octicon 'settings', height: 16, class: 'text-muted' %>
            Settings
          <% end %>
          <% if File.exist?(Rails.root.join('public', 'docs', 'index.html')) %>
            <%= link_to "docs/", class: 'dropdown-item' do %>
              <%= octicon 'book', height: 16, class: 'text-muted' %>
              API Documentation
            <% end %>
          <% end %>
          <%= link_to logout_path, class: 'dropdown-item' do %>
            <%= octicon 'sign-out', height: 16, class: 'text-muted' %>
            Logout
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
