<nav class="navbar navbar-inverse navbar-static-top navbar-main">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if current_user %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#octobox-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <%= image_tag current_user.github_avatar_url + "?size=64", width: 32, class: 'img-rounded navbar-avatar' %>
        </button>
        <button type="button" class="navbar-toggle navbar-search-toggle collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false">
          <span class="sr-only">Toggle search</span>
          <%= octicon 'search', height: 16, class: 'text-muted' %>
        </button>
      <% end %>
      <a class="navbar-brand" href="/" title='Octobox'>
        <%= octobox_reverse_icon(28) %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="search">
      <%= form_tag root_path, method: :get, class: 'navbar-form navbar-left', enforce_utf8: false do |f| %>
        <div class="form-group">
          <% filters.except(:q).select{|n,v| v.present? }.each do |name, value| %>
              <%= hidden_field_tag name, value %>
          <% end %>
          <%= text_field_tag 'q', params[:q], placeholder: 'Search...', class: 'form-control', size: 40, id: 'search-box' %>
        </div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse js-octobox-menu" id="octobox-menu">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.github_avatar_url + "?size=40", width: 20, class: 'img-rounded navbar-avatar' %>
              <%= current_user.github_login %> <span class="caret hidden-xs"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "#{Octobox.config.github_domain}", target: "_blank" do %>
                  <%= octicon 'mark-github', height: 16, class: 'text-muted' %>
                  GitHub Dashboard
                <% end %>
              </li>
              <li>
                <%= link_to "https://github.com/octobox/octobox/issues", target: "_blank" do %>
                  <%= octicon 'question', height: 16, class: 'text-muted' %>
                  Octobox Support
                <% end %>
              </li>
              <li>
                <%= link_to "settings" do %>
                  <%= octicon 'settings', height: 16, class: 'text-muted' %>
                  Settings
                <% end %>
              </li>
              <% if File.exist?(Rails.root.join('public', 'docs', 'index.html')) %>
                <li>
                  <%= link_to "docs/" do %>
                    <%= octicon 'book', height: 16, class: 'text-muted' %>
                    API Documentation
                  <% end %>
                </li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to logout_path do %>
                  <%= octicon 'sign-out', height: 16, class: 'text-muted' %>
                  Logout
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "https://github.com/octobox/octobox/issues", target: "_blank" do %>
              <%= octicon 'question', height: 16, class: 'text-muted' %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://opencollective.com/octobox/" class='opencollective' target='_blank'><%= octicon 'gift', height: 16, data: {toggle: "tooltip", placement: "bottom"}, title: 'Support Octobox on OpenCollective' %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>
