<nav class='navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-md'>
  <a class="navbar-brand" href="/" title='Octobox'>
    <%= svg('infinitacle-reverse') %>
  </a>
  <div class="position-relative dropdown">
    <div>
      <button class="btn btn-dark navbar-toggler search-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#search" aria-controls="search" aria-expanded="false" aria-label="Toggle search">
        <span class="visually-hidden">Toggle search</span>
        <%= octicon 'search', height: 16, class: 'text-muted' %>
      </button>
      <button id='navbarnav_toggle' class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="visually-hidden">Toggle navigation</span>
        <% if current_user %>
          <%= image_tag current_user.github_avatar_url + "?size=64", width: 32, height:32, class: 'img-rounded navbar-avatar', alt: '' %>
        <% else %>
          <%= octicon 'three-bars', height: 16, class: 'text-muted' %>
        <% end %>
      </button>
    </div>
  </div>
  <% if @notifications %>
    <%= form_tag root_path, method: :get, class: 'form-inline collapse navbar-collapse', id: 'search', enforce_utf8: false do |f| %>
      <div class="search-sugguestion-section d-inline-flex justify-content-between align-items-center w-100">
        <div class="search-input-box position-relative d-flex align-items-center w-100">
          <%= text_field_tag 'q', @search.to_query, placeholder: 'Search...', class: 'custom-input form-control', id: 'search-box', 'aria-label' => 'Search', :autocomplete => "off" %>
          <div class="btn btn-sm btn-link search-help d-none d-md-block" title='Search Cheat Sheet' data-bs-toggle="modal" data-bs-target="#search-help">
            <%= octicon 'question', :height => 16 %>
          </div>
          <div class="search-sugguestion-section d-inline-flex justify-content-between align-items-center">
            <ul id="search-sugguestion-list" class="form-inline__section search-dropdown d-none">
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="user-info collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item nav-link d-none d-md-block">
        <% if Octobox.io? && !current_user.github_app_authorized? %>
          <a href="<%= Octobox.config.app_url %>" class='btn btn-sm btn-outline-light'>
            <%= octicon 'briefcase', height: 16, class: 'me-1' %>
            Install the GitHub App
          </a>
        <% else %>
          <a href="https://opencollective.com/octobox/" class='opencollective btn btn-sm' target='_blank' rel="noopener" aria-label='Support Octobox on OpenCollective'>
            <%= octicon 'heart', height: 16, data: {"bs-toggle": "tooltip", placement: "bottom"}, title: 'Support Octobox on OpenCollective' %>
          </a>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle d-none d-md-block" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbar-avatar-fixed-width">
            <%= image_tag current_user.github_avatar_url + "?size=40", width: 20, class: 'img-rounded navbar-avatar', alt: '' %>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "#{Octobox.config.github_domain}", class: 'dropdown-item', target: "_blank", rel: "noopener" do %>
            <%= octicon 'mark-github', height: 16, class: 'text-muted' %>
            GitHub Dashboard
          <% end %>
          <%= link_to documentation_path(anchor: 'support'), class: 'dropdown-item', target: "_blank", rel: "noopener" do %>
            <%= octicon 'question', height: 16, class: 'text-muted' %>
            Octobox Support
          <% end %>
          <% if current_user.admin? %>
            <%= link_to admin_path, class: 'dropdown-item' do %>
              <%= octicon 'tools', height: 16, class: 'text-muted' %>
              Admin
            <% end %>
            <% if Octobox.background_jobs_enabled? %>
              <%= link_to admin_sidekiq_web_path, class: 'dropdown-item' do %>
                <%= octicon 'graph', height: 16, class: 'text-muted' %>
                Sidekiq
              <% end %>
            <% end %>
          <% end %>
          <%= link_to "/documentation", class: 'dropdown-item' do %>
            <%= octicon 'book', height: 16, class: 'text-muted' %>
            User Documentation
          <% end %>
           <% if Octobox.config.native_link %>
              <%= link_to Octobox.config.native_link, class: 'dropdown-item' do %>
                <%= octicon 'desktop-download', height: 16, class: 'text-muted' %>
                Download Desktop App
              <% end %>
          <% end %>
          <% if File.exist?(Rails.root.join('public', 'docs', 'index.html')) %>
            <%= link_to "/docs/", class: 'dropdown-item' do %>
              <%= octicon 'code', height: 16, class: 'text-muted' %>
              API Documentation
            <% end %>
          <% end %>
          <%= link_to "/settings", class: 'dropdown-item' do %>
            <%= octicon 'gear', height: 16, class: 'text-muted' %>
            Settings
          <% end %>
          <div class="dropdown-divider d-md-none"></div>
          <a class="d-md-none" href="https://opencollective.com/octobox/" class='opencollective' target='_blank' rel="noopener"><%= octicon 'heart', height: 16, class: 'text-muted' %> Donate</a>
          <div class="dropdown-divider"></div>
          <%= link_to logout_path, class: 'dropdown-item' do %>
            <%= octicon 'sign-out', height: 16, class: 'text-muted' %>
            Logout
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
